extends base_skeleton

block content
  .row
    .col-sm-12
      label Select your courses

      datalist#courses
        //- option(value="COMP-225")
        //- each course in allCourses
          option(value=course)

      div.course
        input(type="text" list="courses")
      span#add-course.glyphicon.glyphicon-plus