extends base_skeleton

block content
  .row
    .col-xs-12
      h1= title
      
  .row
    .col-xs-12
      span Select your courses
        span#add-course.glyphicon.glyphicon-plus

      datalist#courses
        //- option(value="COMP-225")
        //- each course in allCourses
          option(value=course)

      div.course
        input(type="text" list="courses")
