extends base_skeleton

block content
  .row
    .col-xs-12
      h1= title

  .row
    .col-xs-12
      form(method="POST")
        span Select your courses
          span#add-course.glyphicon.glyphicon-plus

        datalist#courses
          each course in allCourses
            option(value=course)

        div.conx
          span Select your connections
            span#add-conx.glyphicon.glyphicon-plus

          datalist#connections
            each connection in allConnections
              option(value=connection)

        div.course
          input(type="text" list="courses" name="0")

          input.connection(type="text" list="connections" name="0")

        input(type="submit" value="Find my connections")


        input.connection#align_left(type="submit" value="Find the courses")
