body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#add-course {
  cursor: pointer;
  padding-left: 5px;
}

h1 {
    text-align: center;
}

input {
    display: block;
}

#courses {
    margin-bottom: 40px;
}

#courses > *,
#conx > * {
    margin-top: 10px;
}

#results {
    text-align: center;
}