body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#add-course, #add-conx {
  cursor: pointer;
  padding-left: 5px;
}

#align_left {
	margin-right: 54px;
}

.conx, .connection{
	float: right;
}
